In [11]:
import pandas as pd

df=pd.read_excel('apply_심화_예제.xlsx')
df2=df.copy()

def tot_calc(price, num):
    return price*num

df['total']=df.apply(lambda x: tot_calc(x['price'],x['num']),axis=1)
df

   price  num   total
a   1000    3    3000
b   3000    1    3000
c   5000    4   20000
d   7000    5   35000
e  10000    2   20000
f  20000    6  120000